<%= image_tag "cooltext377876445820935.png", size: "272x48", alt: "Photo Walk" %>

<nav class="menubar">
  <ul>
    <%= menu_link_to "TOP", :root %>
    <%= menu_link_to "EVENT", "#" %>
    <%= menu_link_to "BLOG", "#" %>
    <%= menu_link_to "MEMBER LIST", :members %>
    <%= menu_link_to "MANAGEMENT PAGE", "#" %>
  </ul>
</nav>